<div class="col-md-12 comment-div">

	<div class="comment-vote col-md-1">
		<div class='upvote-comment'>
			<span class='glyphicon glyphicon-chevron-up'></span>
		</div><br>

		<div class='downvote-comment'>
			<span class='glyphicon glyphicon-chevron-down'></span>
		</div>
	</div>

	<div class='well col-md-11 comment-body'>
		{{comment.body}}
	</div>

</div>
