<header>

	{{!-- This portion will appear on every page as the header. Add nav bar and such here. --}}
	<article>
		<div class="logo">
			<h1>
				<a href="#">Slimgur</a>
			</h1>
		</div>
</article>
</header>

{{!-- This will render all Ember Templates.  --}}
<section id="main">
	{{{outlet}}}
</section>

{{!-- Footer. Should contain relevant copyright-ish info, or just information. --}}
<footer>
	<p> Testing Footer one two three </p>
</footer>
