<header>
	<article>
		<div class="logo">
			<h1>
				<a href="#">Slimgur</a>
			</h1>
		</div>
	</article>

<section id="main">
	{{outlet}}

</section>

<footer>
	<p> Testing Footer one two three </p>
</footer>
