<header>
  <div class='container-fluid' id='topbar'>
    <div class='row topbar-elements text-center'>

      <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1'>
        {{#link-to 'posts'}}
        <div class='col-md-1 col-xs-3 logo'>
          slimgur  
        </div>
        {{/link-to}}

        <div class='col-md-5 col-sm-5 main-navigation'>
          <div class='glyphicon glyphicon-align-justify nav-justify-menu'>
          </div>

          <div class='nav-upload'>
            <div class='glyphicon glyphicon-cloud-upload nav-upload-icon'>
            </div>

            <div class='nav-upload-text hidden-sm hidden-xs'>
              {{#link-to 'posts.new'}}upload images{{/link-to}}
            </div>
          </div>

          <div class='glyphicon glyphicon-random nav-random-icon'>
          </div>
        </div>

        <div class='col-md-2 col-sm-2 user-account'>
          {{#if currentUser}}
            {{#link-to 'user.show' currentUser}}{{currentUser.username}}{{/link-to}}
            {{#link-to 'sign_out'}}Sign Out{{/link-to}}
          {{else}}
          {{#link-to 'sign_in' }}Sign In{{/link-to}}
            {{!-- Sign-in --}}
          {{/if}}
        </div>
      </div>

    </div>
  </div>

	{{!-- This portion will appear on every page as the header. Add nav bar and such here. --}}
</header>

{{!-- This will render all Ember Templates.  --}}
<section id="main">
  {{!-- <div class="container container-main"> --}}
  	{{{outlet}}}
  {{!-- </div> --}}
</section>

{{!-- Footer. Should contain relevant copyright-ish info, or just information. --}}
<footer>
	<p> Testing Footer one two three </p>
</footer>
