<header>
  <div class='container-fluid' id='topbar'>
    <div class='row topbar-elements text-center'>

      <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1'>
        <a href="#">
        <div class='col-md-1 col-xs-3 logo'>
          slimgur  
        </div>
        </a>
        

        <div class='col-md-5 col-sm-5 main-navigation'>
          <div class='glyphicon glyphicon-align-justify nav-justify-menu'>
          </div>

          <div class='nav-upload'>
            <div class='glyphicon glyphicon-cloud-upload nav-upload-icon'>
            </div>

            <div class='nav-upload-text hidden-sm hidden-xs'>
              {{#link-to 'new'}}upload images{{/link-to}}
            </div>
          </div>

          <div class='glyphicon glyphicon-random nav-random-icon'>
          </div>
        </div>

        <div class='col-md-2 col-sm-2 user-account'>
          {{#if currentUser}}
            {{#link-to 'user.show' currentUser}}{{currentUser.username}}{{/link-to}}
          {{else}}
            Sign-in
          {{/if}}
        </div>
      </div>

    </div>
  </div>


{{!-- 	<nav class="navbar navbar-inverse navbar-custom" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-custom">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-custom" href="#">Slimgur</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-custom" id="bs-example-navbar-collapse-1 navbar-custom">
      <ul class="nav navbar-nav navbar-custom">
        <li><a href="#" id="navbar-upload">Upload Images</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-custom">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right navbar-custom" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> --}}
	{{!-- This portion will appear on every page as the header. Add nav bar and such here. --}}
</header>

{{!-- This will render all Ember Templates.  --}}
<section id="main">
  {{!-- <div class="container container-main"> --}}
  	{{{outlet}}}
  {{!-- </div> --}}
</section>

{{!-- Footer. Should contain relevant copyright-ish info, or just information. --}}
<footer>
	<p> Testing Footer one two three </p>
</footer>
