html, body {
	height: 100%;
}

body, div {
	background-color: #000000;
	color: white;
}

body {
	font-family: Arial, sans-serif;
}

.navbar-custom{
	background-color: #2B2B2B;
	color: red;
}

#navbar-upload:hover{
	background-color: #1E6077;
}

.color-grey{
	background-color: #2B2B2B;	
}

.post-container{
	padding: 25px;
	border-radius: 10px;
	/*background-color: red;*/
}

.head-div, .stats-div, .row{
	background-color: inherit;
}

.image-div, .desc-div{
	background-color: #181817;
	margin: 10px 0px 10px 0px;
}

.image-div{
	/*padding-left: 28px;*/
}

.post-img{
	width: 100%;
	height: auto;
	max-height: auto;
	max-width: auto;
	/*margin: 0 auto;*/
}

.post-title{
	font-size: 20px;
}

.post-uploader{
	font-size: 13px;
	margin: -5px 0px 15px 0px;
}

.well{
	background: rgb(24,24,23);
	border: none;
	border-radius: 4px;
	box-shadow: none;
}

.side-gallery{
	background: #2B2B2B;
	height: 800px;
	margin: 0px 10px;
}

.stats-icon{
	font-size: 1.5em;
	padding: 3px;
	border: solid 2px black;
	border-radius: 3px;

	border-bottom: 1px solid #4c4a4f;	
	background-color: #2b2b2b;
	border-radius: 4px;
	opacity: .8;
	cursor: pointer;
}

.stats-icon:hover{
	color: #89C624;
}

.popularity-bar{
	width: 200px;
	height: 10px;
}