html, body {
	height: 100%;
}

body, div {
	background-color: #000000;
	color: white;
}

body {
	font-family: Arial, sans-serif;
}

/* Border radius common */

.post-container, .side-gallery{
	border-radius: 12px;
}

.navbar-custom{
	background-color: #2B2B2B;
	color: red;
}

#navbar-upload:hover{
	background-color: #1E6077;
}

.color-grey{
	background-color: #2B2B2B;	
}

.post-container{
	padding: 10px 25px;
	background-color: #2B2B2B;	

}

.head-div, .stats-div, .row{
	background-color: inherit;
}

.image-div, .desc-div{
	background-color: #181817;
	margin: 10px 0px 10px 0px;
}

.image-div{
	/*padding-left: 28px;*/
}

.post-img{
	width: 100%;
	height: auto;
	max-height: auto;
	max-width: auto;
	/*margin: 0 auto;*/
}

.post-title{
	font-size: 20px;
}

.post-uploader{
	font-size: 13px;
	margin: -5px 0px 15px 0px;
}

.well{
	background: rgb(24,24,23);
	border: none;
	border-radius: 4px;
	box-shadow: none;
}

a:link, a:active, a:visited, a strong {
color: #4E76C9;
text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.side-gallery{
	background: #2B2B2B;
	height: 800px;
	margin: 0px 10px;
}

/* Stats-div Emporium */
/*=======================*/

.stats-icon{
	font-size: 1.9em;
	padding: 3px;
	border: solid 2px black;
	border-radius: 3px;
	float: left;

	border-bottom: 1px solid #4c4a4f;	
	background-color: #2b2b2b;
	border-radius: 4px;
	opacity: .8;
	cursor: pointer;
}

.stats-icon:hover{
	color: #89C624;
}

.popularity-div{
	font-size: 1em;
	display: inline-block;
	width: 100px;
	float: left;
	padding: 3px;
	height: 35px;
}


.stats-div{
	/*background-color: red;*/
	display: inline-block;
	width: 100%;
}

.popularity-bar{
	width: 100%;
	height: 10px;
	opacity: 0.8;

	background-image: none;
	background-color: #e44;
}

.popularity-div *:hover{
	opacity: 1;
}

#upvoteBar{
	background-image: none;
	/*background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);*/
  background-color: #89C624;
}


/*---------------*/